<!DOCTYPE html>
<html>
<head>
  <title><%=title%></title>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">

  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <SCRIPT>

    function getCookie(cname) {
      var name = cname + "=";
      var ca = document.cookie.split(';');
      for(var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
          c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
          return c.substring(name.length, c.length);
        }
      }
      return "";
    }


    function Sign() {
      var username = getCookie("zalogin");
     // alert();
        var setCookie = cookie.serialize('foo', 'bar');
console.log("iz sign fje"+username);
      putCookie("zalogin", username);
    }

    cookie_name = "zalogin";
    var YouEntered;


    function setCookie(cname,cvalue,exdays) {
      var d = new Date();
      d.setTime(d.getTime() + (exdays*24*60*60*1000));
      var expires = "expires=" + d.toGMTString();
      document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }
    function putCookie() {


      if(document.cookie != document.cookie)
      {index = document.cookie.indexOf(cookie_name);}
      else
      { index = -1;}

      if (index == -1)
      {
        YourUser=document.poc.mail.value;
        YourPass=document.poc.password.value;
        console.log(YourUser);
        console.log(YourPass);
        document.cookie=cookie_name+"="+YourUser+":"+YourPass+";"
      }

    }
  </SCRIPT>

</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Pokemon GO!</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <form action="/login" method="post" class="navbar-form navbar-right"  name="poc" role="form" >
        <div class="form-group">
          <input id="mail" name="mail" type="text" placeholder="User" class="form-control" tabindex="1" required="required" >
        </div>
        <div class="form-group">
          <input id="password" type="password" name="password" placeholder="Password" class="form-control" title="Type your password" required="required"  >
        </div>
        <input type=submit onclick="Sign()" class="btn btn-success" value='Sign in'>
      <!--  <p class="keeplogin">
          <input type="checkbox" name="loginkeeping" id="loginkeeping" value="loginkeeping" checked="checked"  />
          <label for="loginkeeping" style="color:blue;">Keep me logged in</label>
        </p>-->


      </form>
    </div><!--/.navbar-collapse -->
  </div>
</nav>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron" id="bg">
  <div class="container" id=" op">
    <h1>Pokemon GO!</h1>
    <p>Postanite dio Pokemon GO ! zajednice. Istrazujte zajedno ili u timu. </p>
    <form action="/register" method="get">
      <p><button class="btn btn-primary btn-lg" type="submit">Registruj se</button></p>
    </form>

    <!--<p><a class="btn btn-primary btn-lg" href="" role="button">Registruj se &raquo;</a></p>-->
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2> Igraci</h2>
      <p>Podaci o svim igracima</p>
      <p><form action="/igraci" method="get"><button class="btn" type="submit">Opsirnije >> </button></form> </p>
    </div>
    <div class="col-md-4">
      <h2>Pokemoni</h2>
      <p>Podaci o svim pokemonima</p>
      <p><form action="/pokemoni" method="get"><button class="btn" type="submit">View details &raquo;</button></form></p>
    </div>
    <div class="col-md-4">
      <h2>Player-pokemon</h2>
      <p>Ispis pokemona za odredjenog igraca</p>
      <p><form action="/izlistaj" method="get"><button class="btn" type="submit">View details &raquo;</button></form></p>
    </div>
  </div>

  <hr>

  <footer>
    <p>&copy; 2016 Company, Inc.</p>
  </footer>
</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->

</body>
</html>